In [1]:
# importing libraries
import pandas as pd
import numpy as np
import os

In [3]:
# Creating path
path = path = '/Users/samarjitgehdu/Documents/Python/Instacart Basket Analysis'

In [5]:
path

'/Users/samarjitgehdu/Documents/Python/Instacart Basket Analysis'

In [7]:
# Importing Dataframe
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_updated.pkl'))

In [9]:
# Creating a subset
ords_prods_merge_subset = ords_prods_merge[:1000000]

In [11]:
# Performing aggregation function on the subset of the dataframe
ords_prods_merge_subset.groupby(['department_id']).agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                14.800024
2                17.091743
3                17.913544
4                17.893092
5                15.214270
6                15.382135
7                17.694027
8                16.458105
9                15.957363
10               20.091818
11               16.482026
12               15.615061
13               16.484023
14               17.524632
15               15.691875
16               18.014071
17               16.150593
18               19.602850
19               17.631340
20               17.138607
21               21.956893

In [13]:
# Performing aggregation function on main dataframe
ords_prods_merge.groupby(['department_id']).agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

### Observation
The number of departments grouped by are 12 for both the main and the subset Dataframe. Whereas, the key difference in the results comes in the mean of the order numbers for each department.

In [16]:
# Creating new column "max_order"
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

/var/folders/zl/tcc09dfs4v13063yfphqmzjr0000gn/T/ipykernel_31505/2324063168.py:2: FutureWarning: The provided callable <function max at 0x110126520> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [18]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,match,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
1,2539329,1,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
2,2539329,1,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Regularly busy,Average orders,10
3,2539329,1,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy,Regularly busy,Average orders,10
4,2539329,1,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Regularly busy,Regularly busy,Average orders,10

In [22]:
# Allocation of loyalty flags
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [24]:
# Verifying the allocation of loyalty flags
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [26]:
# Check Loyalty flag in dataframe
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number','max_order']].head(60)

    user_id      loyalty_flag  order_number  max_order
0         1      New customer             1         10
1         1      New customer             1         10
2         1      New customer             1         10
3         1      New customer             1         10
4         1      New customer             1         10
5         1      New customer             2         10
6         1      New customer             2         10
7         1      New customer             2         10
8         1      New customer             2         10
9         1      New customer             2         10
10        1      New customer             2         10
11        1      New customer             3         10
12        1      New customer             3         10
13        1      New customer             3         10
14        1      New customer             3         10
15        1      New customer             3         10
16        1      New customer             4         10
17        1      New customer             4         10
18        1      New customer             4         10
19        1      New customer             4         10
20        1      New customer             4         10
21        1      New customer             5         10
22        1      New customer             5         10
23        1      New customer             5         10
24        1      New customer             5         10
25        1      New customer             5         10
26        1      New customer             5         10
27        1      New customer             5         10
28        1      New customer             5         10
29        1      New customer             6         10
30        1      New customer             6         10
31        1      New customer             6         10
32        1      New customer             6         10
33        1      New customer             7         10
34        1      New customer             7         10
35        1      New customer             7         10
36        1      New customer             7         10
37        1      New customer             7         10
38        1      New customer             8         10
39        1      New customer             8         10
40        1      New customer             8         10
41        1      New customer             8         10
42        1      New customer             8         10
43        1      New customer             8         10
44        1      New customer             9         10
45        1      New customer             9         10
46        1      New customer             9         10
47        1      New customer             9         10
48        1      New customer             9         10
49        1      New customer             9         10
50        1      New customer            10         10
51        1      New customer            10         10
52        1      New customer            10         10
53        1      New customer            10         10
54        1      New customer            10         10
55        1      New customer            10         10
56        1      New customer            10         10
57        1      New customer            10         10
58        1      New customer            10         10
59        2  Regular customer             1         14

In [28]:
# Aggregating the min, max and mean of each loyalty flag
ords_prods_merge.groupby(['loyalty_flag']).agg({'prices':['mean','min','max']})

                    prices
                      mean  min   max
loyalty_flag
Loyal customer    7.773487  1.0  25.0
New customer      7.801077  1.0  25.0
Regular customer  7.798145  1.0  25.0

In [30]:
# Creating column for average spender
ords_prods_merge['average_spend']=ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

/var/folders/zl/tcc09dfs4v13063yfphqmzjr0000gn/T/ipykernel_31505/655122787.py:2: FutureWarning: The provided callable <function mean at 0x110126f20> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['average_spend']=ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [32]:
# Creating flag for low and high spender in the dataframe
ords_prods_merge.loc[ords_prods_merge['average_spend']<10,'spender_flag']='Low_spender'
ords_prods_merge.loc[ords_prods_merge['average_spend']>= 10, 'spender_flag'] = 'High_spender'

In [34]:
# Verify the  spender flags
ords_prods_merge['spender_flag'].value_counts(dropna = False)

spender_flag
Low_spender     32285150
High_spender      119709
Name: count, dtype: int64

In [36]:
pd.options.display.max_rows = 100

In [38]:
ords_prods_merge[['user_id', 'average_spend', 'spender_flag', 'prices']].head(100)

    user_id  average_spend spender_flag  prices
0         1       6.367797  Low_spender     9.0
1         1       6.367797  Low_spender    12.5
2         1       6.367797  Low_spender     4.4
3         1       6.367797  Low_spender     4.7
4         1       6.367797  Low_spender     1.0
5         1       6.367797  Low_spender     9.0
6         1       6.367797  Low_spender     3.0
7         1       6.367797  Low_spender     4.4
8         1       6.367797  Low_spender    10.3
9         1       6.367797  Low_spender     4.7
10        1       6.367797  Low_spender     4.0
11        1       6.367797  Low_spender     9.0
12        1       6.367797  Low_spender     4.4
13        1       6.367797  Low_spender     3.0
14        1       6.367797  Low_spender     8.6
15        1       6.367797  Low_spender     3.2
16        1       6.367797  Low_spender     9.0
17        1       6.367797  Low_spender     4.4
18        1       6.367797  Low_spender     3.0
19        1       6.367797  Low_spender     8.6
20        1       6.367797  Low_spender     1.0
21        1       6.367797  Low_spender     9.0
22        1       6.367797  Low_spender     4.4
23        1       6.367797  Low_spender     3.0
24        1       6.367797  Low_spender     8.6
25        1       6.367797  Low_spender     2.7
26        1       6.367797  Low_spender    14.0
27        1       6.367797  Low_spender     5.0
28        1       6.367797  Low_spender    10.3
29        1       6.367797  Low_spender     9.0
30        1       6.367797  Low_spender     4.4
31        1       6.367797  Low_spender     3.0
32        1       6.367797  Low_spender     8.6
33        1       6.367797  Low_spender     9.0
34        1       6.367797  Low_spender     3.0
35        1       6.367797  Low_spender     4.4
36        1       6.367797  Low_spender     8.6
37        1       6.367797  Low_spender     4.0
38        1       6.367797  Low_spender     4.4
39        1       6.367797  Low_spender     9.0
40        1       6.367797  Low_spender     3.0
41        1       6.367797  Low_spender     8.6
42        1       6.367797  Low_spender    13.4
43        1       6.367797  Low_spender     1.8
44        1       6.367797  Low_spender     1.8
45        1       6.367797  Low_spender    13.4
46        1       6.367797  Low_spender     8.6
47        1       6.367797  Low_spender     9.0
48        1       6.367797  Low_spender     3.0
49        1       6.367797  Low_spender     4.4
50        1       6.367797  Low_spender     9.0
51        1       6.367797  Low_spender    13.4
52        1       6.367797  Low_spender     6.8
53        1       6.367797  Low_spender    12.6
54        1       6.367797  Low_spender     8.6
55        1       6.367797  Low_spender     3.0
56        1       6.367797  Low_spender     1.3
57        1       6.367797  Low_spender     4.0
58        1       6.367797  Low_spender     4.4
59        2       7.515897  Low_spender     5.2
60        2       7.515897  Low_spender     6.3
61        2       7.515897  Low_spender     2.3
62        2       7.515897  Low_spender    10.9
63        2       7.515897  Low_spender     2.7
64        2       7.515897  Low_spender     4.1
65        2       7.515897  Low_spender     5.0
66        2       7.515897  Low_spender     9.4
67        2       7.515897  Low_spender    14.8
68        2       7.515897  Low_spender     7.5
69        2       7.515897  Low_spender     4.4
70        2       7.515897  Low_spender    10.3
71        2       7.515897  Low_spender     2.5
72        2       7.515897  Low_spender     1.3
73        2       7.515897  Low_spender     2.0
74        2       7.515897  Low_spender     3.5
75        2       7.515897  Low_spender     6.3
76        2       7.515897  Low_spender     3.9
77        2       7.515897  Low_spender     2.0
78        2       7.515897  Low_spender     6.3
79        2       7.515897  Low_spender     5.2
80        2       7.515897  Low_spender     2.3
81        2       7.515897  Low_spender     6.6
82        2       7.515897  Low_spender     6.2
83        2       7.515897  Low_spender     7.1
84        2       7.515897  Low_spender     5.2
85        2       7.515897  Low_spender     7.5
86        2       7.515897  Low_spender     5.8
87        2       7.515897  Low_spender     8.9
88        2       7.515897  Low_spender     9.1
89        2       7.515897  Low_spender     5.5
90        2       7.515897  Low_spender    12.3
91        2       7.515897  Low_spender     4.0
92        2       7.515897  Low_spender    10.8
93        2       7.515897  Low_spender    12.6
94        2       7.515897  Low_spender     2.0
95        2       7.515897  Low_spender     5.9
96        2       7.515897  Low_spender    14.0
97        2       7.515897  Low_spender     2.9
98        2       7.515897  Low_spender     1.6
99        2       7.515897  Low_spender     3.4

In [40]:
# Generate a column for frequent users
ords_prods_merge['Customer_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

/var/folders/zl/tcc09dfs4v13063yfphqmzjr0000gn/T/ipykernel_31505/3515904864.py:2: FutureWarning: The provided callable <function median at 0x110765bc0> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['Customer_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [42]:
# Creating flag on order frequency
ords_prods_merge.loc[ords_prods_merge['Customer_frequency'] > 20, 'frequency_flag'] = 'Non_frequent_customer'
ords_prods_merge.loc[(ords_prods_merge['Customer_frequency']>10) & (ords_prods_merge['Customer_frequency']<=20),'frequency_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['Customer_frequency'] <= 10, 'frequency_flag'] = 'Frequent Customer'

In [44]:
# Verify the frequency flags
ords_prods_merge['frequency_flag'].value_counts(dropna = False)

frequency_flag
Frequent Customer        21559853
Regular customer          7208564
Non_frequent_customer     3636437
NaN                             5
Name: count, dtype: int64

The 5 Nan vaules indicate that 5 unique orders were filled; where the customer only visited once

In [47]:
ords_prods_merge[['user_id','days_since_prior_order', 'Customer_frequency', 'frequency_flag']].head(100)

    user_id  days_since_prior_order  Customer_frequency         frequency_flag
0         1                     NaN                20.5  Non_frequent_customer
1         1                     NaN                20.5  Non_frequent_customer
2         1                     NaN                20.5  Non_frequent_customer
3         1                     NaN                20.5  Non_frequent_customer
4         1                     NaN                20.5  Non_frequent_customer
5         1                    15.0                20.5  Non_frequent_customer
6         1                    15.0                20.5  Non_frequent_customer
7         1                    15.0                20.5  Non_frequent_customer
8         1                    15.0                20.5  Non_frequent_customer
9         1                    15.0                20.5  Non_frequent_customer
10        1                    15.0                20.5  Non_frequent_customer
11        1                    21.0                20.5  Non_frequent_customer
12        1                    21.0                20.5  Non_frequent_customer
13        1                    21.0                20.5  Non_frequent_customer
14        1                    21.0                20.5  Non_frequent_customer
15        1                    21.0                20.5  Non_frequent_customer
16        1                    29.0                20.5  Non_frequent_customer
17        1                    29.0                20.5  Non_frequent_customer
18        1                    29.0                20.5  Non_frequent_customer
19        1                    29.0                20.5  Non_frequent_customer
20        1                    29.0                20.5  Non_frequent_customer
21        1                    28.0                20.5  Non_frequent_customer
22        1                    28.0                20.5  Non_frequent_customer
23        1                    28.0                20.5  Non_frequent_customer
24        1                    28.0                20.5  Non_frequent_customer
25        1                    28.0                20.5  Non_frequent_customer
26        1                    28.0                20.5  Non_frequent_customer
27        1                    28.0                20.5  Non_frequent_customer
28        1                    28.0                20.5  Non_frequent_customer
29        1                    19.0                20.5  Non_frequent_customer
30        1                    19.0                20.5  Non_frequent_customer
31        1                    19.0                20.5  Non_frequent_customer
32        1                    19.0                20.5  Non_frequent_customer
33        1                    20.0                20.5  Non_frequent_customer
34        1                    20.0                20.5  Non_frequent_customer
35        1                    20.0                20.5  Non_frequent_customer
36        1                    20.0                20.5  Non_frequent_customer
37        1                    20.0                20.5  Non_frequent_customer
38        1                    14.0                20.5  Non_frequent_customer
39        1                    14.0                20.5  Non_frequent_customer
40        1                    14.0                20.5  Non_frequent_customer
41        1                    14.0                20.5  Non_frequent_customer
42        1                    14.0                20.5  Non_frequent_customer
43        1                    14.0                20.5  Non_frequent_customer
44        1                     0.0                20.5  Non_frequent_customer
45        1                     0.0                20.5  Non_frequent_customer
46        1                     0.0                20.5  Non_frequent_customer
47        1                     0.0                20.5  Non_frequent_customer
48        1                     0.0                20.5  Non_frequent_customer
49        1                     0.0                20.5  Non_frequent_customer
50        1                    30.0                20.5  Non_frequent_customer
51        1                    30.0                20.5  Non_frequent_customer
52        1                    30.0                20.5  Non_frequent_customer
53        1                    30.0                20.5  Non_frequent_customer
54        1                    30.0                20.5  Non_frequent_customer
55        1                    30.0                20.5  Non_frequent_customer
56        1                    30.0                20.5  Non_frequent_customer
57        1                    30.0                20.5  Non_frequent_customer
58        1                    30.0                20.5  Non_frequent_customer
59        2                     NaN                13.0       Regular customer
60        2                     NaN                13.0       Regular customer
61        2                     NaN                13.0       Regular customer
62        2                     NaN                13.0       Regular customer
63        2                     NaN                13.0       Regular customer
64        2                     NaN                13.0       Regular customer
65        2                     NaN                13.0       Regular customer
66        2                     NaN                13.0       Regular customer
67        2                     NaN                13.0       Regular customer
68        2                     NaN                13.0       Regular customer
69        2                     NaN                13.0       Regular customer
70        2                     NaN                13.0       Regular customer
71        2                     NaN                13.0       Regular customer
72        2                    10.0                13.0       Regular customer
73        2                    10.0                13.0       Regular customer
74        2                    10.0                13.0       Regular customer
75        2                    10.0                13.0       Regular customer
76        2                    10.0                13.0       Regular customer
77        2                    10.0                13.0       Regular customer
78        2                     3.0                13.0       Regular customer
79        2                     3.0                13.0       Regular customer
80        2                     3.0                13.0       Regular customer
81        2                     3.0                13.0       Regular customer
82        2                     3.0                13.0       Regular customer
83        2                     8.0                13.0       Regular customer
84        2                     8.0                13.0       Regular customer
85        2                     8.0                13.0       Regular customer
86        2                     8.0                13.0       Regular customer
87        2                     8.0                13.0       Regular customer
88        2                     8.0                13.0       Regular customer
89        2                     8.0                13.0       Regular customer
90        2                     8.0                13.0       Regular customer
91        2                     8.0                13.0       Regular customer
92        2                     8.0                13.0       Regular customer
93        2                     8.0                13.0       Regular customer
94        2                     8.0                13.0       Regular customer
95        2                     8.0                13.0       Regular customer
96        2                     8.0                13.0       Regular customer
97        2                     8.0                13.0       Regular customer
98        2                     8.0                13.0       Regular customer
99        2                     8.0                13.0       Regular customer

In [49]:
# Exporting the DataFrame
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'aggregated_ords_prods_merge.pkl'))